header {
  text-align: center;
  margin-top: 20px;
}
#menus-and-pages{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
#creatures {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  
}
section{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  max-width: 200px;
}
footer {
  clear: both;
}