h1 {
  font-size: 20pt;
  margin-bottom: 30px;
}
select {
  clear: both;
  flex-direction: wrap;
}
.empty-image{
 visibility: hidden;
}
img{
  height: 100px;
  float: left;
  margin: 10px;
  border: 1px solid rgb(148, 90, 90);
}
p {
max-width: 200px
}
